<section class="blog-detail mtb-40">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="blog-left">
            <h1>Toyota Car</h1>
            <div class="posted-on">
                <p>by <span>Koji Sato</span> on <span>March 10, 2019</span></p>
            </div>
            <div class="detail-img">
               <img src="../../../assets/img/toyota.png" alt="blog1">
            </div>
            <div class="blog-desc">
              <p>Toyota is a well-known brand throughout the world that is valued for its high resale value, dependability, and durability.</p>
               <p> Toyota. The Japanese auto giant still holds a strong grip on India's automotive market. They are globally renowned for their reliability, affordable pricing ...</p>
            <p>Toyota. Ever spot a car running lakhs of kilometres without any major hassles? Well, chances are that it is a Toyota. Known to offer cars that are meant to ...</p> 
            <ul>
                <li>Highlight a recently released product</li>
                <li>Advertise a special or promotion</li>
                <li>Weather delay or holiday hours</li>
                <li>Promote upcoming new products</li>
                <li>Offer a free giveaway or download</li>
                <li>Share news about a recent award or certification</li>
            </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
</section>