<section class="featured-blog mtb-40">
    <div class="container">
      <div class="row">
          <h1 class="title-heading">Latest Cars</h1>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/toyota.png" alt="blog1">
            <h3>Toyota Car</h3>
            <p>by <span>Koji Sato</span></p>
            <p>Toyota is a well-known brand throughout the world that is valued for its high resale value, dependability, and durability.Toyota is a well-known brand throughout the world that is valued for its high resale value, dependability, and durability.Toyota. Ever spot a car running lakhs of kilometres without any major hassles? Well, chances are that it is a Toyota. Known to offer cars that are meant to ...</p>
            <a class="btn btn-primary" [routerLink] = "['/article/1']">Read more..</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/hyundai.png" alt="blog1">
            <h3>Hyundai Car</h3>
            <p>by <span>Chung Ju-yung</span></p>
            <p>Hyundai Motors Corporation is an automobile manufacturer in South Korea.Impressive looks, exciting engines and feature-rich offerings, all this is what make Hyundai one of the most sought-after carmakers in India.Hyundai.The giant Korean-based manufacturer, having spent nearly 25 years in India has a strong foothold in the country...</p>
            <a class="btn btn-primary" [routerLink] = "['/article/2']">Read more..</a>
          </div>
        </div> 
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/honda.png" alt="post1">
            <h3>Honda Car</h3>
            <p>by <span>Soichiro Honda, Takeo Fujisawa</span></p>
            <p>Honda Motor Co. Ltd., a Japanese multinational conglomerate, is one of the most popular car brands in the world. It has enjoyed a fair share of success as one of India's popular car brands over the past few decades and still has an impact on the Indian car.Honda has been the world's largest motorcycle manufacturer since 1959, reaching a production of 400 million by the end of 2019.</p>
            <a class="btn btn-primary" [routerLink] = "['/article/3']">Read more..</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/maruti-suzuki.png" alt="post2">
            <h3>Maruti Suzuki</h3>
            <p>by <span>Government of India</span></p>
            <p>Maruti Suzuki India Limited is the Indian subsidiary of Japanese automaker Suzuki Motor Corporation.Without a doubt, Maruti Suzuki is the top automaker in India. With a large selection of models to suit various price points, Maruti Suzuki has become known.Maruti Suzuki. No real surprises on who tops the list of popular car brands in India...</p>
            <a class="btn btn-primary" [routerLink] = "['/article/4']">Read more..</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/kia.png" alt="post3">
            <h3>KIA Car</h3>
            <p>by <span>Kim Cheol-ho</span></p>
            <p>Kia is a South Korean automobile manufacturer.Entering India in 2019, Kia has managed to make its presence felt like no other.Kia is the second-largest automobile manufacturer after Hyundai in the South Korean market.Kia is one of the newer car brands to enter India but has quickly established itself as a popular car maker in the country....</p>
            <a class="btn btn-primary" [routerLink] = "['/article/5']">Read more..</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/tata.png" alt="post4">
            <h3>Tata Motors</h3>
            <p>by <span>Ratan Tata</span></p>
            <p>Tata Motors Limited is an Indian multinational automotive company, headquartered in Mumbai and part of the Tata Group. The company produces cars, trucks, vans, and busses. Subsidiaries include British Jaguar Land Rover and South Korean Tata Daewoo. Known for its top-tier safety, impeccable build quality..</p>
            <a class="btn btn-primary" [routerLink] = "['/article/6']">Read more..</a>
          </div>
        </div>

        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/ford.png" alt="post4">
            <h3>Ford</h3>
            <p>by <span>Henry Ford</span></p>
            <p>Ford Motor Company is an American multinational automobile manufacturer headquartered in Dearborn, Michigan, United States. It was founded by Henry Ford and incorporated on June 16, 1903.The company sells automobiles and commercial vehicles under the Ford brand, and luxury cars under its Lincoln brand.</p>
            <a class="btn btn-primary" [routerLink] = "['/article/1']">Read more..</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/mahindra.png" alt="post4">
            <h3>Mahindra</h3>
            <p>by <span>Malik Ghulam Muhammad, Jagdish Chandra Mahindra, Kailash Chandra Mahindra</span></p>
            <p>Mahindra. While several carmakers offer a plethora of cars across segments, what makes Mahindra truly special is its glorious legacy that has given India.Mahindra has become the fourth-largest carmaker in India thanks to its impressive range, and two of its models, the Bolero and Scorpio,have become symbols.</p>
            <a class="btn btn-primary" [routerLink] = "['/article/1']">Read more..</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="blog-box">
            <img src="../../../assets/img/renault.png" alt="post4">
            <h3>Renault</h3>
            <p>by <span>Renault India Private Limited is a fully owned subsidiary of Renault, France</span></p>
            <p>Renault in general is known for their peppy engines, and affordable range but is let down by the lack of service network and the build quality.Renault. Making a surprise entry at number eight, the month of January proved to be an unforgettable one for the French automaker.The Kwid ...</p>
            <a class="btn btn-primary" [routerLink] = "['/article/1']">Read more..</a>
          </div>
        </div>
      </div>
    </div>
</section>