<div class="widget right-widget categories">
    <h3 class="widget-title">Popular Categories</h3>
    <ul>
       <li><a href="#">Ferrari 488 GTB</a></li>
       <li><a href="#">Porsche 911 GT3</a></li>
       <li><a href="#">BMW M8 GTE</a></li>
       <li><a href="#">McLaren 720S</a></li>
       <li><a href="#">Ford GT</a></li>
       <li><a href="#">Lamborghini Huracán</a></li>
       <li><a href="#">Chevrolet Corvette</a></li>
       <li><a href="#">Aston Martin Vantage</a></li>
       <li><a href="#">Audi R8</a></li>
       <li><a href="#">Nissan GT-R</a></li>
   </ul>
</div>









