<div class="widget right-widget recent-post">
    <h4 class="widget-title">Featured Posts</h4>
    <a href="/article/1">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="../../../assets/img/rolls-royce.png" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Rolls Royce</h5>
                <p>by <span>Tufan Erginbilgic</span></p>
                <b><p>Posted On: March 25, 2024</p></b>
            </div>
        </div>
    </a>
    <a href="/article/2">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="../../../assets/img/bmw.png" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>BMW</h5>
                <p>by <span>Oliver Zipse</span></p>
                <b><p>Posted On: March 25, 2024</p></b>
            </div>
        </div>
    </a>
    <a href="/article/3">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="../../../assets/img/audi.png" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Audi</h5>
                <p>by <span>August Horcher</span></p>
                <b><p>Posted On: March 25, 2024</p></b>
            </div>
        </div>
    </a>
    <a href="/article/4">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="../../../assets/img/mercedez-benz.png" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Mercedez Benz</h5>
                <p>by <span>Karl Benz</span></p>
                <b><p>Posted On: March 25, 2024</p></b>
            </div>
        </div>
    </a>
    <a href="/article/5">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="../../../assets/img/range-rover.png" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Range Rover</h5>
                <p>by <span>Maurice Wilks</span></p>
                <b><p>Posted On: March 25, 2024</p></b>
            </div>
        </div>
    </a>
    <a href="/article/6">
        <div class="rb-box">
            <div class="rb-box-img">
                <img src="../../../assets/img/lamborghini.jpg" alt="blog1">
            </div>
            <div class="rb-box-desc">
                <h5>Lamborghini</h5>
                <p>by <span>Ferruccio Lamborghini</span></p>
                <b><p>Posted On: March 25, 2024</p></b>
            </div>
        </div>
    </a>
  </div>