<section class="blog-list mtb-40">
    <div class="container">
      <h1>Cars List</h1>
      <div class="row">
          <div class="col-md-8">
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                    <div class="col-md-4">
                      <img src="../../../assets/img/toyota.png" alt="blog1">
                    </div>
                    <div class="col-md-8">
                        <h3>Toyota Car</h3>
                        <p>by <span>Koji Sato</span></p>
                        <p>Toyota is a well-known brand throughout the world that is valued for its high resale value, dependability, and durability.Toyota is a well-known brand throughout the world that is valued for its high resale value, dependability, and durability...</p>
                        <a class="nav-link readmore" [routerLink] = "['/article/1']">Read more..</a>
                    </div> 
                  </div>
                </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                  <div class="row">
                      <div class="col-md-4">
                        <img src="../../../assets/img/hyundai.png" alt="blog1">
                      </div>
                      <div class="col-md-8">
                        <h3>Hyundai Car</h3>
                        <p>by <span>Chung Ju-yung</span></p>
                        <p>Hyundai Motors Corporation is an automobile manufacturer in South Korea.Impressive looks, exciting engines and feature-rich offerings, all this is what make Hyundai one of the most sought-after carmakers in India.Hyundai.The giant Korean-based manufacturer...</p>
                        <a class="nav-link readmore" [routerLink] = "['/article/2']">Read more..</a>
                      </div>
                  </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                <div class="row">
                  <div class="col-md-4">
                    <img src="../../../assets/img/honda.png" alt="blog1">
                  </div>
                  <div class="col-md-8">
                    <h3>Honda Car</h3>
                    <p>by <span>Soichiro Honda, Takeo Fujisawa</span></p>
                    <p>Honda Motor Co. Ltd., a Japanese multinational conglomerate, is one of the most popular car brands in the world. It has enjoyed a fair share of success as one of India's popular car brands over the past few decades and still has an impact on the Indian car...</p>
                    <a class="nav-link readmore" [routerLink] = "['/article/3']">Read more..</a>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                <div class="row">
                  <div class="col-md-4">
                    <img src="../../../assets/img/maruti-suzuki.png" alt="blog1">
                  </div>
                  <div class="col-md-8">
                    <h3>Maruti Suzuki</h3>
                    <p>by <span>Government of India</span></p>
                    <p>Maruti Suzuki India Limited is the Indian subsidiary of Japanese automaker Suzuki Motor Corporation.Without a doubt, Maruti Suzuki is the top automaker in India. With a large selection of models to suit various price points, Maruti Suzuki has become known.Maruti Suzuki...</p>
                    <a class="nav-link readmore" [routerLink] = "['/article/4']">Read more..</a>
                  </div> 
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                <div class="row">
                  <div class="col-md-4">
                    <img src="../../../assets/img/kia.png" alt="blog1">
                  </div>
                  <div class="col-md-8">
                    <h3>KIA Car</h3>
                    <p>by <span>Kim Cheol-ho</span></p>
                    <p>Kia is a South Korean automobile manufacturer.Entering India in 2019, Kia has managed to make its presence felt like no other.Kia is the second-largest automobile manufacturer after Hyundai in the South Korean market.Kia is one of the newer car brands to enter India but has quickly established...</p>
                    <a class="nav-link readmore" [routerLink] = "['/article/5']">Read more..</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="blog-box">
                <div class="row">
                  <div class="col-md-4">
                    <img src="../../../assets/img/tata.png" alt="blog1">
                  </div>
                  <div class="col-md-8">
                    <h3>Tata Motors</h3>
                    <p>by <span>Ratan Tata</span></p>
                    <p>Tata Motors Limited is an Indian multinational automotive company, headquartered in Mumbai and part of the Tata Group. The company produces cars, trucks, vans, and busses. Subsidiaries include British Jaguar Land Rover and South Korean Tata Daewoo. Known for its top-tier safety, impeccable build quality..</p>
                    <a class="nav-link readmore" [routerLink] = "['/article/6']">Read more..</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <app-featured-articles></app-featured-articles>
            <app-categories></app-categories>
        </div>
      </div>
    </div>
  </section>